* {
    font-family: 'Koh Santepheap';
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

/* Style de la barre de navigation */
nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #40434E;
    position: fixed;
    transition: top 0.3s;
    z-index: 3;
}

.nom {
    margin-right: auto
}

.nom a:hover {
    text-decoration: none;
}

a {
    margin: 0 7px;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #D32F2F;
    text-decoration-thickness: 20%;
}

/* Cacher les éléments du menu pour mobile */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 3px 10px;
    background-color: #F6ECE9;
}

/* Pour les écrans plus petits */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #40434E;
        position: absolute;
        top: 50px;
    }

    .menu a {
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .burger {
        display: flex;
    }

    .navbar.show .menu {
        display: flex;
        align-items: center;
    }
}

/* Section d'introduction */
section#home {
    text-align: center;
    padding: 55px 20px;
}

section#home h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

/* Section À propos */
section#about {
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;
}

section#about h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

section#about .portrait-image {
    width: 300px;
    height: auto;
    border-radius: 10%;
    object-fit: cover;
}

section#about .about-contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section#about p {
    font-size: 15px;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

section#about button {
    margin-top: 45px;
    width: 175px;
    height: 40px;
    border-radius: 25px;
    background-color: #fff;
    color: #D32F2F;
    font-weight: bold;
    border-color: #D32F2F;
    transition: all 0.2s ease;
}

section#about button:hover {
    width: 175px;
    height: 40px;
    border-radius: 25px;
    background-color: #D32F2F;
    color: #fff;
    font-weight: bold;
    border-color: #D32F2F;
    cursor: pointer;
}

/* Ajustement pour la section À propos */
@media (max-width: 768px) {
    section#about .about-contenu {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        flex-wrap: wrap;
        gap: 20px;
    }

    section#about .portrait-image {
        width: 150px;
        height: auto;
        margin-bottom: 0;
    }
}

/* Section Formation */
section#formation {
    padding: 30px 30px;
    padding-top: 10px;
}

section#formation h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

section#formation p {
    font-size: 18px;
    color: #555;
}

section#formation img {
    height: auto;
    max-width: 400px;
    min-width: 300px;
}

/* Section Expérience Professionnelle */
section#experience {
    padding: 30px;
    padding-top: 10px;
    background-color: #fff;
}

section#experience h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#card-image {
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Section Projets */
section#projets {
    padding: 30px 30px;
    padding-top: 10px;
}

section#projets h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.projets {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
    overflow-x: auto;
}

.projets .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.projets .card:hover {
    transform: translateY(-10px) scale(1);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.projets .card img {
    width: 25%;
    height: auto;
}

button {
    width: 140px;
    height: 40px;
    border-radius: 25px;
    background-color: #fff;
    color: #D32F2F;
    font-weight: bold;
    border-color: #D32F2F;
    transition: all 0.2s ease;
}

button:hover {
    width: 140px;
    height: 40px;
    border-radius: 25px;
    background-color: #D32F2F;
    color: #fff;
    font-weight: bold;
    border-color: #D32F2F;
    cursor: pointer;
}

/* Section Compétences */
section#competences {
    padding: 30px 30px;
    padding-top: 10px;
    background-color: #fff;
}

section#competences h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

section#competences ul {
    font-size: 18px;
    color: #555;
    list-style: none;
    padding: 0;
}

.competences {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    overflow-x: auto;
}

.competences .card {
    flex: 1;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 20px;
}

.competences .card:hover {
    transform: translateY(-10px) scale(1);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.competences .card img {
    width: auto;
    height: 100px;
}

.progress-bar {
    background-color: #f3f3f3;
    border-radius: 25px;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.progress {
    background-color: #D32F2F;
    height: 100%;
    border-radius: 25px;
}

/* Section Loisirs */
section#loisirs {
    padding: 30px 30px;
    padding-top: 10px;
}

section#loisirs h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

section#loisirs p {
    font-size: 18px;
    color: #555;
}

#card-image-smartthings {
    width: 15%;
    height: auto;
}

#card-image-homeassistant {
    width: 13%;
    height: auto;
    padding-bottom: 5px;
    padding-left: 50px;
}

#card-image-bbowl {
    width: 25%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Section Contact */
section#contact {
    padding: 30px 70px;
    text-align: center;
    background-color: #fff;
}

section#contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

section#contact p {
    font-size: 18px;
    color: #555;
}

section#contact a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}